
<div class="card m-4 border-warning">
  <div class="card-body">
    <h2 class="card-title text-center">Order Summary</h2>
    <p class="card-text">You have {{cart.totalItemsCount}} items in your shopping cart.</p>
  <ul class="list-group list-group-flush">
    <li *ngFor="let item of cart.items" class="list-group-item">
      {{item.quantity}} x {{item.product.title}}
      <div class="float-right">{{item.totalPrice | currency: 'EUR': 'symbol': '1.2-2': 'fr'}}</div>
    </li>
    <li class="list-group-item font-weight-bold">Total
    <div class="float-right font-weight-bolder">{{cart.totalPrice | currency: 'EUR': 'symbol': '1.2-2': 'fr'}}</div>
    </li>
  </ul>
  </div>
</div>
