
.mycard {
  opacity: 0.8;
}

.mycard:hover {
  opacity: 1;
}

.mycard a {
  width: 100%;
}

.card-footer {
  padding: 0;
}
.card-deck{
  margin-left: 0;
}
/*
.mycol{
  width: 33.33%;
  margin-left: 1%;
}
@media (max-width: 1010px){
  .mycol{
    width: 50%;
    margin-right: auto;
    margin-left: auto;

  }
}
@media (max-width: 586px){
  .mycol{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
*/

