<h1 class="mat-display-1 mb-4">Shopping Cart</h1>
<ng-container class="row col-10 container" *ngIf="cart$ | async as cart">
  <div>
    <p class="mb-4">You have {{cart.totalItemsCount}} items in your shopping cart.</p>
    <button *ngIf="cart.items.length" (click)="clearCart()" class="btn btn-light btn-sm float">Clear Shopping Cart</button>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th class="">Product</th>
      <th class="quantity text-center">Quantity</th>
      <th class="text-center">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of cart.items" class="">
      <td>
        <div [style.backgroundImage]="'url(' + item.product.imageUrl + ')'" class="thumbnail">
        </div>
      </td>
      <td class="">{{item.product.title}}</td>
      <td class="text-center">
        <app-product-quantity [shopping-cart]="cart" [product]="item.product"></app-product-quantity>
      </td>

      <td class="text-center">{{item.totalPrice |  currency: 'EUR': 'symbol':'1.2-2': 'fr'}}</td>
    </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-center">{{cart.totalPrice | currency: 'EUR': 'symbol':'1.2-2': 'fr' }}</th>
      </tr>
    </tfoot>
  </table>
  <a *ngIf="cart.items.length" class="btn btn-primary mb-4" routerLink="/check-out">Check Out</a>
</ng-container>

