/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{
  padding-top: 7em;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.dropdown-item{
  color: #ECEFF1;
}
.dropdown-menu{
  font-size: 0.9rem;
}
.edit{
  background-image: none;
}
